.biography {
  margin-top: 6vh;
  text-align: justify;
  margin: 5vh;
  width: 50%;
}

@media (min-width: 300px) and (max-width: 600px) {
  .biography {
    width: 100%;
    font-size: 1.125rem;
  }

  .contrast-darkMode {
    width: 90%;
    font-size: 1rem;

  }

  .p-biography {
    padding: 20px;
  }
}

@media (min-width: 800px) {
  .timeboxing-preview:hover {
    cursor: zoom-in;
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }

  .contrast-darkMode {
    font-size: 1.2rem;
  }
}

.contrast-darkMode {
  display: flex;
  flex-direction: row;
  background: white;
  text-align: center;
  align-items: center;
  color: black;
  padding: 8px;
  border-radius: 12px;
}
