.fa-moon {
  font-size: 24px;
  cursor: pointer;

}

@media (min-width: 300px) and (max-width: 600px) {
  .fa-moon {
    padding: 0;
  }
}

@media (min-width: 800px) {
  .fa-moon {
    padding: 2px;
  }
}

.icon {
  cursor: pointer;
}

._github {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
}

._linkedIn {
  margin: 0;
  filter: opacity(80%);
}

._linkedIn:hover {
  transition: all 0.2;
  filter: opacity(100%);
}
