@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500;1,600&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

body.dark-theme {
  --text-twilight: #d0d1d4;
  --dropdown-box-twilight: #363636e0;
  --background-color: #0d1118;
  background-image: url(../images/triangular.png);
}
body {
  --text-twilight: #000;
  --dropdown-box-twilight: #e9eaede0;
  --background-color: #fff;
}

a {
  text-decoration: none;
  color: #8507bb;
}

@media (prefers-color-scheme: light) {
  body {
    --text-twilight: #fff;
    --dropdown-box-twilight: #363636e0;
    --background-color: #000;
  }

  body.light-theme {
    --text-twilight: #222;
    --dropdown-box-twilight: #e9eaede0;
    --background-color: #fff;
    background-image: none;
  }
}

body {
  transition: background-color 1s;
  background: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
}

body.about-body {
  background-image: none;
}

.dropdown:hover .dropdown-content {
  position: absolute;
  margin-top: 0.2rem;
  right: 1%;
  background: var(--dropdown-box-twilight);
  border-radius: 8px;
}

.dropdown-content a {
  color: var(--text-twilight);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: var(--text-twilight);
}

.horizontal-line {
  color: var(--text-twilight);
  width: 80%;

}

@media (min-width: 800px) {
  .qr-btn {
    position: fixed;
    top: 50%;
    left: 90%;
    outline: none;
    border: 1px solid var(--text-secondary-text);
    border-radius: 12px;
    background: none;
  }

  ._qr {
    border-radius: 10%;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .qr-btn {
    display: none;
  }
}

/*------------------------------------*\
  # Grid 
\*------------------------------------*/
.auto-grid {
  --auto-grid-min-size: 16rem;
}

.auto-grid > * {
  max-width: 400px;
}

.auto-grid > * + * {
  margin-top: 1rem;
}

@supports (display: grid) {
  .auto-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .auto-grid > * {
    max-width: unset;
  }

  .auto-grid > * + * {
    margin-top: unset;
  }
}

.grid-item1 {
  grid-row: 2/3;
  margin-top: 10vh;
}

.grid-item2 {
  grid-row: 3/4;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

._avatarImage {
  width: 242px;
  height: 242px;
  border-radius: 50%;
  object-fit: cover;
}

.grid {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

._text {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

._title {
  font-weight: 500;
  font-size: 2rem;
}

._content {
  flex-direction: column;
  font-size: 1.5rem;
}

._p-tag {
  font-size: 1.1rem;
  width: 50%;
}

.footer {
  margin: 0 0 5vh 0;
}
