.nav-links {
  text-decoration: none;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 600;
}

.upperCase {
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    height: 80px;
    z-index: 5;
  }
}

@media (min-width: 481px) {
  .navbar {
    position: fixed;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 80px;
    z-index: 5;
  }
}

/* Iphone Media Size exclude margin-right */
@media (min-width: 330px) {
  .nav {
    display: flex;
    list-style: none;
  }
}

@media (max-width: 480px) {
  .logo {
    flex-grow: 1 1 auto;
    padding-bottom: 5px;
    width: 120px;
  }
}

@media (min-width: 481px) {
  .logo {
    flex-grow: 1 1 auto;
    width: 150px;
  }
}

.header-link {
  white-space: nowrap;
  /* margin: 15px; */
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  transition: 0.6s;
  transform: scale(1.2);
}

.nav-links:hover {
  transform: scale(1.05);
  transition: 0.5 ease ease-in-out;
}

@media (min-width: 800px) {
  .nav-links {
    margin: 0 0 0 1rem;
  }
  
  ._dropdownButton {
    padding: 3px 0 0 0;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .nav-links {
    font-weight: 500;
    background: var(--primary);
  }

  .dropdown-content a {
    font-weight: 500;
    color: var(--text-scaled);
  }

  ._dropdownButton {
    margin: 0 0 0 1rem;
  }

  .upperCase {
    font-size: 14px;
  }

  .dropdown:hover .dropdown-content {
    position: absolute;
    top: 190%;
    right: 12%;
    background: rgba(34, 34, 34, 0.929);
    border-radius: 8px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

._dropdownButton {
  background: var(--primary);
  outline: none;
  border: none;
  color: var(--secondary);
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: var(--borderRadius-md);
  color: var(--text-scaled);
  font-size: 16px;
  margin: 1rem 0 0 0;
}

.dropdown:hover ._dropdownButton {
  background: linear-gradient(
    145deg,
    rgb(70, 67, 111) 0%,
    rgba(116, 59, 130, 1) 76%,
    rgba(188, 102, 209, 1) 100%
  );
  border-radius: 4px;
}

.dropdown-content a:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    145deg,
    rgb(70, 67, 111) 0%,
    rgba(116, 59, 130, 1) 76%,
    rgba(188, 102, 209, 1) 100%
  );
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: max-content;
}
