:root {
    /* theme */
    --primary: #0d1118;
    --secondary: #fff;
    --text-scaled: rgb(215, 219, 224);
    --text-secondary: rgb(129 129 129);
    /* border */
    --borderRadius-sm: 4px;
    --borderRadius-md: 8px;
}