@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500;1,600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  background: #000000;
  background-image: url(images/triangular2.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  color: #fff;
}

img.linkedIn {
  margin: 0;
  filter: saturate(1);
  filter: opacity(80%);
  filter: invert(50%);
}

.linkedIn:hover {
  transition: all 0.2;
  filter: blur(1px);
  filter: invert(10%);
}

.grid {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

._text {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

._title {
    font-size: 2rem;
  }
  
  ._content {
    font-size: 1.5rem;
  }
  